:root{
    --primary-bluer: #59d5d4;
    --primary-greener: #d5d65e;
    --primary-warmer: #D6B1D6;
    --opacity: .23;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* this doesn't seem like the best solutin if I also want this on mobile... */
}

.options-button{
    position: relative;
    width: 16px;
    height: 16px;   
    float:inline-end; 
}
.options-gear{
    width: 100%;
    height: auto;
}

.options-button button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.dropdown-container{
    display: flex;
    flex-direction: column;
    align-items: "center";

    height: auto;
    min-height: 100px;
}

.standin-button-container{
    width: 100%;
    height: auto; 

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(/* 7 */6, 1fr);
    grid-template-areas: 
        " . . a a a . b b b . . "
        " . . a a a . b b b . . "
        " . . a a a . b b b . . "
        /* " . . . . . . . . . . ." */
        " c c c . d d d . e e e "    
        " c c c . d d d . e e e "
        " c c c . d d d . e e e "
        " . . f f f . g g g . . "
        " . . f f f . g g g . . "
        " . . f f f . g g g . . "     
        " h h h . i i i . j j j "    
        " h h h . i i i . j j j "
        " h h h . i i i . j j j "     
        " . . k k k . l l l . . "
        " . . k k k . l l l . . "
        " . . k k k . l l l . . "   
        " m m m . n n n . o o o "    
        " m m m . n n n . o o o "
        " m m m . n n n . o o o "                          
    ;    

    margin-top: 20px;
}

.dropdown{
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;

    border: none;
    background-color: white;/* unset; */
    outline: none;

    color: var(--primary-warmer);
}

/* new */
.dropdown-and-label-container{
    display: flex;
    gap: 5px;
}

.dropdown-and-label{ /* should rename class, not using labels anymore */
    width: 100px;
    height: 20px;
    overflow: hidden;

    border-bottom: 2px solid var(--primary-bluer);
}

.dropdown-option{
    color: var(--primary-warmer);
}

.switch-site-button{
    position: relative;
    width: 32px;
    height: 32px;

    top: -1px; /* to align with the dropdown border*/
}

.switch-site-button:nth-child(1){ grid-area: a;}
.switch-site-button:nth-child(2){ grid-area: b;}
.switch-site-button:nth-child(3){ grid-area: c;}
.switch-site-button:nth-child(4){ grid-area: d;}
.switch-site-button:nth-child(5){ grid-area: e;}
/* future standin buttons */
.switch-site-button:nth-child(6){ grid-area: f;}
.switch-site-button:nth-child(7){ grid-area: g;}
.switch-site-button:nth-child(8){ grid-area: h;}
.switch-site-button:nth-child(9){ grid-area: i;}
.switch-site-button:nth-child(10){ grid-area: j;}
.switch-site-button:nth-child(11){ grid-area: k;}
.switch-site-button:nth-child(12){ grid-area: l;}
.switch-site-button:nth-child(13){ grid-area: m;}
.switch-site-button:nth-child(14){ grid-area: n;}
.switch-site-button:nth-child(15){ grid-area: o;}


.switch-site-button img {
    width: 100%;
    height: auto;
}

.switch-site-button button{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

/* @media only screen and (max-width: 480px){ 
    .main-container{
        width: 100%;
    }

    .dropdown-container{
        width: 70%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .options-button{
        width: 32px;
        height: 32px;
    }

    .dropdown-and-label{
        border-width: 4px;
    }

    .switch-site-button{
        width: 96px;
        height: 96px;
    }
    .dropdown-option{
        font-size: xx-large;
    }
} */